*.dll
*.exp
*.lib
*.o
*.obj
*.so
codeblocks/bin
codeblocks/EAXReverb.depend
codeblocks/EAXReverb.layout
codeblocks/obj
macos/EAXReverb.vst/Contents/MacOS
macos/pkg
output/
vc6project/Debug
vc6project/EAXReverb.ncb
vc6project/EAXReverb.opt
vc6project/EAXReverb.plg
vc6project/Release
vc8project/Debug
vc8project/EAXReverb.ncb
vc8project/EAXReverb.suo
vc8project/Release
